<footer class="mt-auto bg-darkblue-main text-center custom-shadow py-4 d-flex">
  <div class="container d-flex flex-column align-items-center">
    <div class="fs-3 py-2">&copy; {{currentDate.getFullYear()}} Stefania Neri</div>
    <div class="py-2 fs-4"><a href="mailto:stefania.neri.92&#64;gmail.com">stefania.neri.92&#64;gmail.com</a></div>

    <div class="d-flex align-items-center fs-4"> <ion-icon name="location-outline" class="me-1"></ion-icon> Torino, Italy
    </div>
    <div class="d-flex text-center justify-content-center mt-2 py-3">
      <a href="https://www.linkedin.com/in/stefania-neri/" target="_blank"
        class="bg-whiteblue rounded-3 effectGlimmerHoverIcons" aria-label="Visita il profilo Linkedin">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/linkedin.png" alt="Linkedin icon" />
      </a>
      <a href="https://github.com/StefaniaNeri" target="_blank"
        class="bg-whiteblue rounded-3 mx-3 effectGlimmerHoverIcons" aria-label="Visita il profilo Github">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/github--v1.png" alt="Github icon" />
      </a>
      <a href="https://www.instagram.com/stefanianeri7/" target="_blank"
        class="bg-whiteblue rounded-3 effectGlimmerHoverIcons" aria-label="Visita il profilo Instagram">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="Instagram icon" />
      </a>
    </div>
  </div>
</footer>