.heightHero {
  height: calc(100vh - 77.31px);
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--light-green);
  /* box-shadow: ; */
  padding: 8rem 8rem;
  border-radius: 3%;
  background-image: linear-gradient(180deg, var(--darkblue-palette), #154755);
}

.name {
  font-size: 4.6rem;
  color: var(--light-green);
}

.sub {
  font-size: 2rem;
  color: #a0faa3c4;
}

.imgHero {
  height: auto;
  width: 100%;
}

/* 1400px */
@media (max-width: 87.5em) {
  .name {
    font-size: 4.5rem;
  }

  .sub {
    font-size: 2.5rem;
  }
}

/* 992px */
@media (max-width: 62em) {
  .name {
    font-size: 3.5rem;
  }

  .sub {
    font-size: 1.7rem;
  }
}

/* 768px */
@media (max-width: 48em) {
  .name {
    text-align: center;
    margin-top: 2rem;
  }
  .sub {
    text-align: center;
  }
  .imgHero {
    padding-bottom: 2rem;
  }
}

/* 576px */
@media (max-width: 36em) {
  .heightHero {
    height: auto;
  }

  .heroContent {
    justify-content: center;
  }

  .imgHero {
    padding-bottom: 2rem;
  }
}
