/* STICKY */

nav {
  padding: 1.5rem 0 0 0;
  /* position: relative; */
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  z-index: 1000;
  background-color: rgba(3, 15, 24, 0.588);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  animation: opacity 0.5s;
  padding: 1.5rem 0;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sticky .logo {
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out;
}

/* //////////////// */

.nav-item {
  transform: all 0.3s;
}
nav .nav-link {
  color: var(--darkblue-palette);
}

.nav-item:hover,
.nav-item:active {
  background-color: transparent;
  cursor: pointer;

  box-shadow: rgb(160, 250, 163, 0.2) 0px 0px 24px,
    rgb(160, 250, 163, 0.2) 0px 0px 39px, rgb(160, 250, 163, 0.2) 0px 0px 60px;
}

.nav-item:hover .nav-link {
  color: var(--light-green);
  text-decoration: none;
}

.fw-600 {
  font-weight: 600;
  letter-spacing: 1.2px;
}

.fs-4to5 {
  font-size: 1.3rem;
}

.logo img {
  width: 43px;
  height: auto;
}

/* for bigger devices */
@media (min-width: 62em) {
  .collapse {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 62em) {
  .container-fluid {
    position: relative;
  }

  .navbar-collapse {
    position: absolute;
    top: -12px;
    right: 35px;
  }

  .nav-item {
    border: solid 0.2px var(--darkblue-palette) !important;
    border-radius: 0% !important;
  }

  .navbar-toggler {
    border: 1px solid var(--light-green);
    color: var(--light-green);
  }

  .navbar-toggler:active {
    border: 1.5px solid var(--light-green);
    color: var(--light-green);
  }

  .navbar-toggler-icon {
    color: var(--light-green);
  }
}

/* for smaller devices */
@media (max-width: 36em) {
  .logo img {
    width: 30px;
    margin-right: auto;
  }
}
