<nav [ngClass]="{'sticky': isSticky}" class="navbar navbar-expand-lg navbar-dark bg-extra-dark py-3 pt-sm-4">
  <div class="container-fluid">
    <a href="#" class="margin-left-70 logo d-inline-block">
      <img src="assets/logo/sn-logo-zip-file (1)/png/logo-no-background.png"
        alt="Logo con una finestra browser contenente un piccolo ingranaggio e parentesi angolari, e al di sotto le iniziali sn">
    </a>
    <button #hamburger class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #collapsedMenu class="collapse navbar-collapse me-md-5 fs-4to5" id="navbarSupportedContent">
      <ul class="navbar-nav mt-2 mt-lg-0 ms-auto mx-5 text-dark rounded">
        <!-- <li class="nav-item px-3 bg-light-green rounded-start border-end-blue">
        <a class="nav-link active" href="#about-me" aria-current="page">About me
          <span class="visually-hidden">(current)</span></a>
      </li> -->
        <li class="nav-item px-3 rounded-start bg-light-green border-end-blue">
          <a class="nav-link " href="#skills">Skills</a>
        </li>
        <li class="nav-item px-3 bg-light-green border-end-blue">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item px-3 bg-light-green border-end-blue rounded-end">
          <a class="nav-link" href="#cv">Curriculum</a>
        </li>
        <!-- <li class="nav-item me-5 px-3 bg-light-green rounded-end">
        <a class="nav-link" href="#contacs">Contacts</a>
      </li> -->
      </ul>
    </div>
  </div>
</nav>