<section id="projects" class="py-5 bg-prj">

  <div class="container">
    <div class="text-center pb-md-4 pt-md-5 mb-2">
      <h1>Projects</h1>
    </div>
    <div class="row pb-5">
      <div class="col-12 px-md-5 d-flex justify-content-center">
        <div class="card my-5 effectGlimmerHover effectGlimmer">
          <!-- <img class="card-img-top" src="https://wallpapers.com/images/hd/hd-wallpaper-travel-j1qko25gehb442dh.webp"
            alt="Case campeggio su un isola turistica tropicale" loading="lazy" /> -->
          <gallery *ngIf="isBrowser" [items]="tripzPreviews" thumbs thumbPosition="bottom"></gallery>
          <div class="card-body p-4 bg-lightgreen-gradient">
            <h4 class="card-title fs-3  text-center pb-2">Tripz: travel booking platform</h4>
            <p class="fs-5  text-center">I've created a platform that offers a catalog of
              destinations available for booking. On the login page you can create an account as either an Admin or Base User.
              <br> Base users can select and book one or more trips, then go to the Cart to complete the booking. 
              Admin users have additional privileges, including the ability to delete destinations and view the list of users. <br> The bookings, as well as the removal of trips and user registrations, update the database accordingly.</p>
            <p class="card-text fs-4">Source code: <a [href]="tripzUrl()" target="_blank">Tripz repository</a></p>
            <p class="fs-4 mb-0">Made with:</p>
            <ul>
              <li>Java</li>
              <li>SpringBoot</li>
              <li>Hibernate</li>
              <li>MySQL</li>
              <li>JavaScript</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-12 px-md-5 d-flex justify-content-center">
        <div class="card my-5 effectGlimmerHover effectGlimmer">
          <img class="card-img-top" src="assets/pexels-donaldtong94-109669min.jpg"
            alt="Vista di un teatro dal punto di vista del palco" loading="lazy" />
          <div class="card-body p-4 bg-lightgreen-gradient">
            <h4 class="card-title fs-3  text-center pb-2">Theater Box Office</h4>
            <p class="fs-5  text-center">As part of a simulated project I created a platform that offers a catalog of
              shows available
              for booking. Users must log in to select and book a show, then are redirected to a
              page for payment and ticket purchase confirmation. User registrations and purchased tickets are stored in
              the fictional theater company’s database.</p>
            <p class="card-text fs-4">Source code: <a href="{{theaterPrjUrl()}}" target="_blank">Theater Box Office repository</a></p>
            <p class="fs-4 mb-0">Made with:</p>
            <ul>
              <li>Java</li>
              <li>SpringBoot</li>
              <li>Hibernate</li>
              <li>MySQL</li>
              <li>JavaScript</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>

      </div>


      
    </div>

  </div>
</section>