<section id="projects" class="py-5 bg-transparent-custom">

  <div class="container">
    <div class="text-center pb-4 pt-md-5 mb-2">
      <h1>Projects</h1>
    </div>
  </div>

  <div class="prj prjBgTripz">

    <div class="row m-0 justify-content-center align-items-stretch">

      <div class="col-12 col-md-12 col-xl-4 px-4 px-sm-5 px-md-5 px-lg-0 d-flex flex-column justify-content-center">
        <h4 class="prjTitle text-orange bg-titleTripz rounded-bottom">Tripz platform</h4>
        <h5 class="pt-4 prjDes text-yellow rounded-top d-inline-block">Book & Travel</h5>
        <p class="fs-6 ">Platform with a catalog of
          destinations available for booking. <br> You can register either as a Base or Admin user, for additional
          privileges.</p>
        <p class="card-text text-orange fs-5 text-end px-md-4 px-lg-3">Source code: <a [href]="tripzUrl()" target="_blank"
            class="tripzLinks">Tripz repository</a></p>
        <div class="container lang-container text-center pb-4 px-0 px-md-0 px-lg-3 pb-sm-5 pb-xl-0 fs-6">
          <div class="row lang-row mb-md-0 mb-2 justify-content-end">
            <div class="langsTripz bg-langs-tripz col-sm-3 col-lg-4 col-4">Java</div>
            <div class="langsTripz bg-langs-tripz col-sm-3 col-lg-4 col-4">Spring</div>
          </div>
          <div class="row lang-row mb-md-0 mb-2 justify-content-end">
            <div class="langsTripz bg-langs-tripz col-sm-3 col-lg-4 col-4">Hibernate</div>
            <div class="langsTripz bg-langs-tripz col-sm-3 col-lg-4 col-4">MySQL</div>
          </div>
          <div class="row lang-row justify-content-end">
            <div class="langsTripz bg-langs-tripz col-sm-3 col-lg-4 col-4">JavaScript</div>
            <div class="langsTripz bg-langs-tripz col-sm-3 col-md-2 col-lg-3 col-3">HTML</div>
            <div class="langsTripz bg-langs-tripz col-sm-3 col-md-2 col-lg-3 col-3">CSS</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-xl-7">
        <gallery *ngIf="isBrowser" [items]="tripzPreviews" class="ms-1 rounded" bullets bulletPosition="top">
          <ng-template let-item>
            <img class="gallery-image" [src]="item.data.src" />
          </ng-template>
        </gallery>
      </div>

    </div>

  </div>

  <div class="prj prjBgSounds">

    <div class="row m-0 justify-content-center align-items-stretch">

      <div class="col-12 col-md-6 orderMobile-2">
        <img class="imgSounds rounded" src="assets/pexels-michael-sprehe-20684-93684.webp"
          alt="Vista di un lago, una montagna sullo sfondo e piante in primo piano" loading="lazy" />
      </div>

      <div class="col-12 col-md-4 orderMobile-1 px-4 d-flex flex-column justify-content-center">
        <h4 class="prjTitle text-darkgreen rounded-bottom text-center">Ambient Sound Generator</h4>

        <p class="card-text text-green fs-5 pt-4 text-center">Coming soon</p>
        <div class="container lang-container text-center fs-6 pb-4 px-0 px-md-3 pb-md-0">
          <div class="row lang-row mb-md-0  mb-2 justify-content-start">
            <div class="langsSounds bg-langs-sounds col-md-4 col-5">Angular</div>
            <div class="langsSounds bg-langs-sounds col-md-4 col-5">Typescript</div>
          </div>
          <div class="row lang-row mb-md-0 mb-2 justify-content-start">
            <div class="langsSounds bg-langs-sounds col-md-4 col-5">HTML</div>
            <div class="langsSounds bg-langs-sounds col-md-4 col-5">CSS</div>
          </div>
          <div class="row lang-row justify-content-start">
            <div class="langsSounds bg-langs-sounds col-md-4 col-4">API</div>
          </div>
        </div>
      </div>


    </div>

  </div>

</section>