.card {
  width: 60%;
  border: none;
  border-radius: 30px;
}

.displayMobile{
  display: none;
}

.prj{
  margin-bottom: 4rem;
  padding: 4.5rem 0rem 4.5rem 0rem;
}

.prjBgTripz{
  background: linear-gradient(45deg, #141a2d 20%, #1f2f4d 40%, #2a4275a8 100%);
}

.prjBgSounds{
  background: linear-gradient(45deg, #2a4275a8 20%, #1f2f4d 40%, #141a2d 100%);
}

.imgSounds{
  width: 100%;
}

.text-orange{
  color: #FDD99F;
}
.text-yellow{
  color: #fbf6b8;
}
.text-darkgreen{
color: #74af71;
}
.text-green{
  color: #c2ddb8;
  }

  ::ng-deep .g-image-item {
    height: 34rem !important;
    width: 100%;
    object-fit: cover;
  }

/* BACKGROUND COLORS */
.prjText{
  background-color: #03101772;
  color: #eee;
}


/* TITLES */

.prjTitle {
  font-size: 2.3rem;
  margin: 0;
}

/* LINKS */

.tripzLinks,
.tripzLinks:active{
  text-decoration: none;
  color: #f3edae;
  transition: all 0.3s;
  text-decoration: underline #eeb861;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3.5px;
}

.tripzLinks:hover {
  color: #eeb861;
  text-decoration: none;
  transition: all 0.3s;
}

.soundsLinks,
.soundsLinks:active {
  text-decoration: none;
  color: #2c502a;
  transition: all 0.3s;
  text-decoration: underline #c1f2be94;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3.5px;
  
}

.soundsLinks:hover {
  color: #122312;
  text-decoration: none;
  
  transition: all 0.3s;
}

/* //////////// */

.prjDes{
  font-size: 1.6rem;
}

.langsTripz{
  border-top: dashed 0.4px #FDD99F;
  box-shadow:  rgba(224, 224, 250, 0.247) 5px 5px;
  padding: 0.2rem;
  margin: 0.4rem 0.6rem;
  border-radius: 3px;
  color: rgb(255, 252, 217);
}
.langsSounds{
  border-top: dashed 0.4px #c2ddb8;
  box-shadow:  rgba(224, 224, 250, 0.247) 5px 5px;
  padding: 0.2rem;
  margin: 0.4rem 0.6rem;
  border-radius: 3px;
  color: #c2ddb8;
}

.langsTripz:hover, .langsSounds:hover {
  box-shadow: rgba(255, 252, 217, 0.25) 2px 2px;
}

/* <1600px */
@media (max-width: 100em) {

  ::ng-deep .g-image-item {
    height: 27rem !important;
    width: 100%;
    object-fit: cover;
  }
  
}

/* <1200px */
@media (max-width: 75em){
  .card{
    width: 100%;
  }

  .prj{
    padding: 2.7rem 5rem 2.7rem 5rem;
  }

  .prjBgTripz .row > div:first-child {
    padding: 0rem 2rem 0rem 2rem !important;   
  }
}

/* <992px */
@media (max-width: 75em){
 

  .prj{
    padding: 2.7rem 1.7rem 2.7rem 1.7rem;
  }

  .prjBgTripz{
    background: linear-gradient(120deg, #141a2d 20%, #1f2f4d 60%, #2a4275a8 100%);
  }

  .prjBgSounds{
  background: linear-gradient(120deg, #2a4275a8 10%, #1f2f4d 20%, #141a2d 70%);

  }

  .lang-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start !important;
  }

  .card-text{
    text-align: center;
  }


  .displayMobile{
    display: inline-block;
  }

  .mobileHidden{
    display: none;
  }

  .orderMobile-1 {
    order: 1;
  }

  .orderMobile-2 {
    order: 2;
  }

  ::ng-deep .g-image-item {
    height: 18rem !important;
    width: 100%;
    object-fit: contain;
  }

}

/* <576px */
@media (max-width: 36em) {

  .prj{
    padding: 2.7rem 0rem 2.7rem 0rem;
  }
  
  .prjBgTripz{
    background: linear-gradient(120deg, #141a2d 20%, #1f2f4d 60%, #2a4275a8 100%);
  }

  .prjBgSounds{
  background: linear-gradient(120deg, #2a4275a8 10%, #1f2f4d 20%, #141a2d 70%);

  }

  .prjTitle{
    text-align: center;
  }

  .lang-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
  }

  .card-text{
    text-align: center;
  }


  .displayMobile{
    display: inline-block;
  }

  .mobileHidden{
    display: none;
  }

  .orderMobile-1 {
    order: 1;
  }

  .orderMobile-2 {
    order: 2;
  }

  ::ng-deep .g-image-item {
    height: 13rem !important;
    width: 100%;
    object-fit: contain;
  }

}
