.card {
  border-bottom: none;
  border-left: none;
  border-right: none;

}

.prgparent {
  background-color: inherit;
  border-radius: 0rem 0rem 0.38rem 0.38rem;
  border: 1px solid var(--whiteblue-palette);
  width: 100%;
  /* margin: 0 auto; */
  border-image-width: 0.8px;

}

.pgbar {
  background-color: var(--whiteblue-palette);
  box-shadow: rgb(160, 250, 163, 0.2) 0px 0px 24px,
    rgb(160, 250, 163, 0.2) 0px 0px 39px, rgb(160, 250, 163, 0.2) 0px 0px 60px;
  border-radius: 0rem 0.21rem 0.21rem 0.21rem;
}

.card-title {
  color: #dfdfdf;
}

/* 576px */
@media (max-width: 36em) {
  .card-body {
    display: flex;
    align-items: center;
    justify-content: stretch;
  }
  .prgparent {
  border-radius: 0.21rem;
  }
}
