<section class="py-5 bg-skill border-se-green" id="skills">

  <div class="container" (appear)="onAppear()" [ngClass]="{'slide-in': isVisible}">

    <div class="text-center pt-5 mb-2">
      <h1>Skills</h1>
    </div>

    <h2 class="mt-5 text-center">Frontend</h2>
    <div role="list" class="row pb-4 d-flex justify-content-center align-items-center">
      <app-skill role="listitem" *ngFor="let skill of listaSkillFE" [skill]="skill"
        class="col-md-2 mt-5 mx-1"></app-skill>
    </div>

    <h2 class="mt-5 text-center">Backend</h2>
    <div role="list" class="row pb-4 d-flex justify-content-center align-items-center">
      <app-skill role="listitem" *ngFor="let skill of listaSkillBE" [skill]="skill"
        class="col-md-2 mt-5 mx-1"></app-skill>
    </div>

    <!-- <h2 class="mt-5 text-center">Testing</h2>
    <div class="row pb-4 d-flex justify-content-center align-items-center">
      <app-skill *ngFor="let skill of listaSkillTesting" [skill]="skill" class="col-md-2 mt-5 mx-1"></app-skill>
    </div> -->


    <h2 class="mt-5 text-center">Miscellaneous</h2>
    <div role="list" class="row pb-5 d-flex justify-content-center align-items-center">
      <app-skill role="listitem" *ngFor="let skill of listaSkillMisc" [skill]="skill"
        class="col-md-2 my-5 mx-1"></app-skill>
    </div>

  </div>
</section>