.bg-skill {
  background-color: #051d2c;
}

.container .slide-in {
  animation: slideIn 4s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(120%) !important;
    opacity: 0;
  }
  to {
    transform: translateX(0) !important;
    opacity: 1;
  }
}

/* 576px */
@media (max-width: 36em) {
  /* .skillsTitle > h1 {
    font-size: 3rem;
  } */

  .subTitle {
    font-size: 1.7rem;
    margin-top: 1rem;
  }

  .row {
    margin: 0px;
  }
}
