.slide-in {
  animation: slideIn 4s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(120%) !important;
    opacity: 0;
  }
  to {
    transform: translateX(0) !important;
    opacity: 1;
  }
}
