/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --extra-dark: #161616;
  --extra-blue: #02021a;
  --mild-blue: #192a3f;
  --dark: #282d35;
  --dark-green: #021a0a;
  --semi-dark-green: #064f1e;
  --mild-green: #1d9c5c;
  /* --light-green: #a0faa3; */
  --light-green: #D6FAD7;
  --light-blue: #61dafb;
  --dark-orange: #976405;
  --light-orange: #ebb401;

  --darkblue-palette: #072338;
  --lightblue-palette: #183366;
  --whiteblue-palette: #abccf0;
  --sand-palette: #ffdc7f;

  --darkgreen-palette: #04251b;
  --lightgreen-palette: #6a9c89;
  --whitegreen-palette: #a5ccc0;
  --whitewhitegreen-palette: #e9efec;

  --porpora: #410404;
}


body {
  font-family: "Rajdhani", sans-serif;

  background-color: var(--extra-blue);
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* html {
  font-size: calc(0.3rem + 0.5vw);
} */

h1,
h2,
h3 {
  color: var(--whiteblue-palette);
}

/* FONT SIZES */

h1:not(app-hero h1) {
  font-size: 4rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}


/* LINK GLOBAL */

a,
a:active {
  text-decoration: none;
  color: #bbd3ee;
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline #bbd3ee;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3.5px;
  color: #8ab8e9;
  transition: all 0.3s;
}

/* LINK FOOTER */

footer a,
footer a:active {
  color: var(--whiteblue-palette);
  transition: all 0.3s;
}

footer a:hover {
  color: #7399c1;
  text-decoration: underline #abccf0;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3.5px;
  transition: all 0.3s;
}

/* TEXT COLORS */

.dark-text {
  color: var(--darkblue-palette);
}

/* BACKGROUND COLORS */

.bg-light-green {
  background-color: var(--light-green);
}

.bg-lightgreen-gradient {
  background-image: linear-gradient(180deg, #9ebd93, #91be82);
}

.bg-whiteblue{
  background-color: var(--whiteblue-palette);
}


.bg-whiteblue-gradient{
  background-image: linear-gradient(180deg, #87aad0, #6381a1);
}

.bg-darkblue{
  background-color: #011c22;
}

.bg-darkblue-main {
  background-color: #011c22;
}

.bg-extra-dark {
  background-color: #031017cd;
}

.bg-mild-blue {
  background-color: var(--mild-blue);

}


.bg-transparent-custom {
  background-color: transparent;
}

.bg-icons {
  background-color: #c09b70;
}

/* BORDERS */

.border-light-green {
  border: 2.5px solid var(--light-green);
}

.border-whiteblue {
  border: 1px solid var(--whiteblue-palette);
}


.border-tb-orange {
  border-top: 2.5px solid var(--sand-palette);
  border-bottom: 2.5px solid var(--sand-palette);
}

.border-t-orange {
  border-top: 2.5px solid var(--sand-palette);
}

.border-end-blue {
  border-right: 1.5px solid var(--darkblue-palette);
}

.border-se-green {
  border-right: 15px solid #a0faa336;
  border-left: 15px solid #a0faa336;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.border-setop-green {
  border-right: 15px solid #a0faa336;
  border-left: 15px solid #a0faa336;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

/* MARGINS */

.margin-20 {
  margin-left: 20rem;
  margin-right: 20rem;
}
.margin-left-custom {
  margin-left: 70px;
}

/* EFFECTS */

.effectGlimmer {
  box-shadow: rgb(160, 250, 163, 0.2) 0px 0px 24px,
    rgb(160, 250, 163, 0.2) 0px 0px 39px, rgb(160, 250, 163, 0.2) 0px 0px 60px;
}
.effectGlimmerRed {
  box-shadow: rgb(237, 113, 142,0.3) 0px 0px 24px,
    rgb(237, 113, 142,0.3) 0px 0px 39px, rgb(237, 113, 142,0.3) 0px 0px 60px;
}
.effectGlimmerBlue {
  box-shadow: rgb(171, 204, 240,0.2) 0px 0px 24px,
    rgb(171, 204, 240,0.2) 0px 0px 39px, rgb(171, 204, 240,0.2) 0px 0px 60px;
}


.effectGlimmerHover, .effectGlimmerHoverRed,.effectGlimmerBlue,.effectGlimmerHoverBlue
.effectGlimmerHoverIcons,
.effectUp {
  transition: all 0.4s;
}

.effectGlimmerHover:hover {
  box-shadow: rgb(160, 250, 163, 0.2) 0px 0px 70px,
    rgb(160, 250, 163, 0.2) 0px 0px 70px, rgb(160, 250, 163, 0.2) 0px 0px 70px;
}
.effectGlimmerHoverRed:hover {
  box-shadow: rgb(237, 113, 142,0.3) 0px 0px 70px,
    rgb(237, 113, 142,0.3) 0px 0px 70px, rgb(237, 113, 142,0.3) 0px 0px 70px;
}
.effectGlimmerHoverBlue:hover {
  box-shadow: rgb(171, 204, 240,0.2) 0px 0px 70px,
    rgb(171, 204, 240,0.2) 0px 0px 70px, rgb(171, 204, 240,0.2) 0px 0px 70px;
}

.effectGlimmerHoverIcons:hover {
  box-shadow: rgb(171, 204, 240,0.2) 0px 0px 24px,
    rgb(171, 204, 240,0.2) 0px 0px 39px, rgb(171, 204, 240,0.2) 0px 0px 60px;
}

.effectUp:hover {
  transform: translateY(-0.8rem);
}

.scaleEffectHover:hover{
  scale: 1.1;
  transition: all 0.3s;
}

/* BACK TO TOP */
.back-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: inline-flex;
  background-color: var(--whiteblue-palette);
  color: var(--darkblue-palette);
  border: 1.5px solid var(--darkblue-palette);
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  animation: opacity 0.2s;
  z-index: 1000;
}

/* 576px */
@media (max-width: 36em) {
  .back-to-top {
  background-color: rgb(171, 204, 240, 0.589);
  bottom: 2.35rem;
  right: 1.7rem;
  padding: 0.5rem;
  border: 1.2px solid var(--darkblue-palette);
  }
  
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.back-to-top:hover {
  text-decoration: none;
  box-shadow: rgb(171, 204, 240, 0.2) 0px 0px 24px,
    rgb(171, 204, 240, 0.2) 0px 0px 39px, rgb(171, 204, 240, 0.2) 0px 0px 60px;
}

.back-to-top:hover span {
  transform: translateY(-3px);
}

/* 576px smaller devices*/
@media (max-width: 36em) {
  h1:not(app-hero h1) {
    font-size: 3rem !important;
  }

  .border-setop-green {
    border-right: 2px solid #a0faa336;
    border-left: 2px solid #a0faa336;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .border-se-green {
    border-right: 2px solid #a0faa336;
    border-left: 2px solid #a0faa336;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }

  .margin-left-custom {
    margin-left: 20px;
  }
}

/* SCROLLBAR */

/* Per Chrome, Safari, Edge e Opera */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: var(--extra-blue);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--whiteblue-palette);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--whiteblue-palette);
}

/* Per Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--whiteblue-palette) var(--extra-dark);
}

.btn-cv{
  border: 1px solid var(--whiteblue-palette);
  color: #efefefe8;
  background-color: #18314b88;
  border-color: var(--whiteblue-palette);
  box-shadow: rgba(81, 127, 212, 0.4) 8px 8px 6px;
  border-radius: 8px;
  padding: 0.7rem 1rem;
  transition: all 0.3s;
}

.btn-cv:hover,
.btn-cv:active {
  box-shadow: rgba(39, 86, 173, 0.4) 8px 8px 6px;
  background-color: transparent;
  scale: 1.1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* TOAST MESSAGE CONTACT FORM */


.toast-message.toast-success {
  align-items: center !important;
  border: 1.5px solid #2b405a !important;
  /* border-bottom: 1.5px solid var(--whiteblue-palette) !important; */
  /* background-color: #101822 !important; */
  background-color: var(--whiteblue-palette) !important;
  
  font-family: "Rajdhani", sans-serif !important;
  font-size: 1.6rem !important;
  /* font-weight: 700 !important; */
  box-shadow: rgb(171, 204, 240,0.2) 0px 0px 2px,
    rgb(171, 204, 240,0.2) 0px 0px 7px, rgb(171, 204, 240,0.2) 0px 0px 13px !important;
}
.cross-icon.toast-success{
  color: #101822 !important;
  /* color: var(--whiteblue-palette) !important; */
}

.toaster .toast-message .msg-summary {
  font-size: 1.3rem !important;
  /* color: #efefef !important; */
  /* color: var(--whiteblue-palette) !important; */
  color: #101822 !important;
  font-weight: 500 !important;
  line-height: 1.25;
}

.toast-icon.toast-success{
  display: none !important;
}


.toast-message.toast-error {
  border-left: 3px solid #ef4444;
}